<h1>
  Edit individual expense ledger #<%= @individual_expense_ledger.id %>
</h1>

<hr>

<form action="/update_individual_expense_ledger/<%= @individual_expense_ledger.id %>" method="post">

  <div class="form-group">
    <label for="expense_id">
      Expense
    </label>

    <%= select_tag(:expense_id, options_from_collection_for_select(Expense.all, :id, :group_id, @individual_expense_ledger.expense_id), :class => "form-control") %>
  </div>


  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @individual_expense_ledger.notes %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update individual expense ledger
  </button>
</form>

<hr>

<a href="/individual_expense_ledgers">
  Go back
</a>
