<h1>
  Add a new individual expense ledger
</h1>


<hr>

<form action="/create_individual_expense_ledger" method="post">

  <div class="form-group">
    <label for="expense_id">
      Expense
    </label>

    <%= select_tag(:expense_id, options_from_collection_for_select(Expense.all, :id, :group_id, @individual_expense_ledger.expense_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create individual expense ledger
  </button>
</form>

<hr>

<a href="/individual_expense_ledgers">
  Go back
</a>
