<form action="/create_individual_expense_ledger_from_expense" method="post">

  <input type="hidden" name="expense_id" value="<%= @expense.id %>">

  <input type="hidden" name="user_id" value="<%= current_user.id %>">

  <div class="form-group">
    <label for="notes">
      Notes
    </label>

    <textarea id="notes" name="notes" class="form-control" rows="3"><%= @individual_expense_ledger.notes %></textarea>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create individual expense ledger
  </button>
</form>
