<form action="/create_individual_expense_ledger_from_expense" method="post">

  <input type="hidden" name="expense_id" value="<%= @expense.id %>">
  <input type="hidden" name="group_id" value="<%= @expense.group.id %>">

  <div class="form-group">
    <label for="user_id">
      Username
    </label>

    <%= select_tag(:user_id, options_from_collection_for_select(@expense.group.members.uniq, :id, :username, @individual_expense_ledger.user_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Add user
  </button>
</form>
