<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Individual Expense Ledgers

    <a data-toggle="collapse" href="#user_individual_expense_ledgers_new_form">
      Add individual expense ledger
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @user.individual_expense_ledgers.each do |individual_expense_ledger| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/individual_expense_ledgers/<%= individual_expense_ledger.id %>">
          <%= individual_expense_ledger.expense_id %>
        </a>
        <!-- Show link end -->

      </li>
    <% end %>

  </ul>
</div>
