<!-- Validation failure messages -->
<% if @category.present? %>
  <% if @category.errors.any? %>
    <% @category.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new category
</h1>


<hr>

<!-- Form category start -->
<form action="/create_category" method="post">
<!-- Form category end -->

  <!-- Label and input for category_name start -->
  <div class="form-group">
    <label for="category_name">
      Category name
    </label>

    <!-- Input for category_name start -->
    <input type="text" id="category_name" name="category_name" class="form-control" value="<%= @category.category_name %>">
    <!-- Input for category_name end -->
  </div>
  <!-- Label and input for category_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create category
  </button>
</form>

<hr>

<a href="/categories">
  Go back
</a>
