<h1>
  Edit group detail #<%= @group_detail.id %>
</h1>

<hr>

<form action="/update_group_detail/<%= @group_detail.id %>" method="post">

  <div class="form-group">
    <label for="user_id">
      User
    </label>

    <input type="text" id="user_id" name="user_id" class="form-control" value="<%= @group_detail.user_id %>">
  </div>

  <div class="form-group">
    <label for="group_id">
      Group
    </label>

    <input type="text" id="group_id" name="group_id" class="form-control" value="<%= @group_detail.group_id %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update group detail
  </button>
</form>

<hr>

<a href="/group_details">
  Go back
</a>
