<!-- Validation failure messages -->
<% if @group_detail.present? %>
  <% if @group_detail.errors.any? %>
    <% @group_detail.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a group member
</h1>


<hr>

<form action="/create_group_detail" method="post">

  <div class="form-group">
    <label for="username">
      Username
    </label>

    <input type="text" id="username" name="username" class="form-control">
  </div>

  <div class="form-group">
    <label for="group_id">
      Group
    </label>

    <input type="text" id="group_id" name="group_id" class="form-control" value="<%= @group_detail.group.group_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create group detail
  </button>
</form>

<hr>

<a href="/">
  Go back
</a>
