<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Expenses

    <a data-toggle="collapse" href="#group_expenses_new_form">
      Add expense
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @group.expenses.each do |expense| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <!-- Show link start -->
        <a href="/expenses/<%= expense.id %>">
          <%= expense.group_id %>
        </a>
        <!-- Show link end -->

        <!-- Delete link start -->
        <a href="/delete_expense_from_group/<%= expense.id %>">
          Delete
        </a>
        <!-- Delete link end -->

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="group_expenses_new_form">
        <!-- New associationcollection form start -->
        <%= render partial: "group_templates/group_expenses_new_form" %>
        <!-- New associationcollection form end -->
      </div>
    </div>

  </ul>
</div>
