<form action="/create_group_detail" method="post">

  <input type="hidden" name="group_id" value="<%= @group.id %>">
  
  <div class="form-group">
    <label for="user_name">
      Username
    </label>

    <input type="text" id="user_name" name="username" placeholder = "Enter your or your friend's Expense Express username..." class="form-control">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Add member
  </button>
</form>
