<div class="card">
  <div class="card-header d-flex align-items-center justify-content-between">
    Members

    <a data-toggle="collapse" href="#group_members_new_form">
      Add member
    </a>
  </div>

  <ul class="list-group list-group-flush">
    <% @group.members.uniq.each do |member| %>
      <li class="list-group-item d-flex align-items-center justify-content-between">
        <a>
          <%= member.username %>
        </a>

        <a href="/delete_individual_expense_ledger/<%= IndividualExpenseLedger.where({ :user_id => member.id}).where({ :group_id => @group.id}).pluck(:id).first %>">
          Delete
        </a>

      </li>
    <% end %>

    <div class="card-footer">
      <div class="collapse" id="group_members_new_form">
        <%= render partial: "group_templates/group_members_new_form" %>
      </div>
    </div>

  </ul>
</div>
