<h1>
  Edit group #<%= @group.id %>
</h1>

<hr>

<form action="/update_group/<%= @group.id %>" method="post">

  <div class="form-group">
    <label for="group_name">
      Group name
    </label>

    <input type="text" id="group_name" name="group_name" class="form-control" value="<%= @group.group_name %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update group
  </button>
</form>

<hr>

<a href="/groups">
  Go back
</a>
