<!-- Validation failure messages -->
<% if @group.present? %>
  <% if @group.errors.any? %>
    <% @group.errors.full_messages.each do |message| %>
      <div class="alert alert-danger">
        <%= message %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h1>
  Add a new group
</h1>


<hr>

<!-- Form group start -->
<form action="/create_group" method="post">
<!-- Form group end -->

  <!-- Label and input for group_name start -->
  <div class="form-group">
    <label for="group_name">
      Group name
    </label>

    <!-- Input for group_name start -->
    <input type="text" id="group_name" name="group_name" class="form-control" value="<%= @group.group_name %>">
    <!-- Input for group_name end -->
  </div>
  <!-- Label and input for group_name end -->

  <button class="btn btn-block btn-outline-secondary">
    Create group
  </button>
</form>

<hr>

<a href="/groups">
  Go back
</a>
